* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 14px;
}
.menu {
    width: 800px;
    overflow: hidden; /**/
    margin: 150px auto;
}
.menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: skyblue;
}
.menu > li:hover {
    background-color: pink;
    transition-duration: 0.5s;
}
.menu > li:hover .submenu {
    height: 250px;
    transition-duration: 1s;
}
.menu a {
    color: #fff;
}
.submenu > li {
    line-height: 50px;
    background-color: skyblue;
}
.submenu {
    height: 0;
    overflow: hidden;
}
.submenu > li:hover {
    background-color: pink; /* 호버시 색상 변경 */
}
