* {
    margin: 0 auto;
    padding: 0;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
#wrap {
    width: 100%;
}
header {
    width: 1200px;
    height: 100px;
    background-color: #ff6700;
    display: flex;
    position: relative;
    z-index: 1000;
}
.logo {
    width: 300px;
    height: 100px;
    line-height: 130px;
    margin-left: 50px;
    margin-right: 50px;
}
nav {
    width: 900px;
    height: 100px;
}
.menu {
    width: 800px;
    overflow: hidden;
    margin: 30px auto;
    z-index: 2;
}
.menu > li {
    width: 15%;
    float: right;
    text-align: center;
    line-height: 40px;
}
.menu > li:hover {
    /* 메뉴 호버 */
}
.menu > li:hover .submenu {
    height: 250px;
    transition-duration: 0.5s;
}
.menu a {
    color: #fff;
}
.submenu {
    height: 0;
    overflow: hidden;
}
.submenu > li {
    line-height: 50px;
    background-color: #ff6700;
}
.submenu > li:hover {
    background-color: orangered;
}
main {
    width: 1200px;
    height: 300px;
}

main > img {
    width: 100%;
}

section {
    width: 1200px;
    height: 200px;
    display: flex;
}
.section1 {
    width: 400px;
    height: 200px;
    /* background-color: orange; */
}
.section2 {
    width: 400px;
    height: 200px;
    /* background-color: purple; */
}
.section3 {
    width: 400px;
    height: 200px;
}
footer {
    width: 1200px;
    height: 100px;
    display: flex;
    background-color: #004e98;
}
.footer1 {
    width: 200px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer2 {
    width: 800px;
    height: 100px;
}
.footer3 {
    width: 200px;
    height: 100px;
    margin-left: 30px;
    margin-top: 25px;
}